mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations:
    - classpath:mybatis/mapper/**.xml
server:
  port: 8081
spring:
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=utf8&useAffectedRows=true&serverTimezone=GMT%2B8
      username: root
      password: root

  application:
    name: rabbitmq
  rabbitmq:
    host:
    port: 5672
    username: guest
    password: guest
